services:

  web:
    image: nginx

    ports:
      - 85:80

    volumes:
        - /home/user/projects/online-shop/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        - /home/user/projects/online-shop/docker/php:/var/www/html
    restart: always
    depends_on:
      - php-fpm
      - postgres

  php-fpm:

    container_name: php-fpm

    build: ./docker/php
    volumes:
     - /home/user/projects/online-shop:/var/www/html





  postgres:

    container_name: postgres_db
    image: postgres:13
    environment:
    - POSTGRES_DB=${POSTGRES_DB}
    - POSTGRES_USER=${POSTGRES_USER}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}


